.event-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.event-popup-content {
    background-color: rgb(255, 255, 255);
    color: #000;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: left;
}

.button-close {
    text-align: right;
}

.button-close > svg {
    cursor: pointer;
    color: #000;
}

.button-close > svg:hover {
    color: #999;
}

.button-delete {
    cursor: pointer;
}
